include LICENSE
include README.rst
include CHANGES.rst
include pyproject.toml

include czifile/py.typed

exclude benchmark_czifile_vs_pylibczirw.py

exclude .env
exclude *.cmd
exclude *.yaml
exclude mypy.ini
exclude ruff.toml
exclude *.code-workspace
exclude .gitignore
recursive-exclude .vscode *
recursive-exclude doc *
recursive-exclude docs *
recursive-exclude test *
recursive-exclude tests *
recursive-exclude examples *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *Copy*

include tests/conftest.py
include tests/test_czifile.py

include docs/conf.py
include docs/index.rst
include docs/_static/custom.css
